@import url(./global.css);

/* ----------- Header Styles -----------*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: rgb(0, 0, 0, 1);
}

.logo-header img {
    width: 107px;
    height: 32px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}


.nav-header ul li a {   
    text-decoration: none;
    color: var(--color-gray1);
}

.nav-header .active  {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.container-btn-header .btn-tryforfree {
    padding: 10px 20px; /* superior/inferior & esquerda/direita */
    border-radius: 20px; /* arredondamento */
    cursor: pointer; /* cursor do mouse */
    background-color: var(--color-green);
    color: var(--color-gray4);
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
}

.container-btn-header .btn-login {
    padding: 10px 20px; /* superior/inferior & esquerda/direita */
    border-radius: 20px; /* arredondamento */
    cursor: pointer; /* cursor do mouse */
    background-color: rgb(0, 0, 0, 1);
    color: var(--color-white);
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
}

/* ----------- FIM Header Styles -----------*/

/*  --------------- main Styles --------------- */

main {
    background-color: rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}

.content-hero-globo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 568px;
}

.content-hero-globo h1 {
    font-size: var(--font-website-title1-size);
    font-weight: var(--font-website-title1-weight);
    color: var(--color-white);
    margin-bottom: 20px;
}

.content-hero-globo p {
    font-size: var(--font-website-subtitle-size);
    font-weight: var(--font-website-subtitle-weight);
    letter-spacing: 2px;
}



.content-hero-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.get-started {
    padding: 10px 20px; /* superior/inferior & esquerda/direita */
    border-radius: 20px; /* arredondamento */
    color: var(--color-gray4);
    background-color: var(--color-green);
}

.watch {
    align-items: center;
    display: flex;
    border: 1px solid var(--color-gray1);
    border-radius: 20px; /* arredondamento */
    padding: 6px 20px; /* superior/inferior & esquerda/direita */
    color: var(--color-white);
}

/*  --------------- FIM main Styles --------------- */

/*  --------------- Partners Styles --------------- */
.partners {
    background-color: var(--color-gray4);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 40px 0px;
    
}

.paragrafo-principal{
    font-size: 16px;
    justify-content: space-around;
    display: flex;
}

.logoipsum{
    gap: 50px;
    display: flex;

}   
/*  --------------- FIM Partners Styles --------------- */

/*  Breakdown styles */
/* FIM Breakdown styles */
/*  Statistics stykes */
/* FIM Statistics styles  */
/* Blockchain styles  */

.blockchain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: rgb(0, 0, 0, 1) ;
}

.feature-blockchain {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 890px;
}

.feature-blockchain h2 {
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title2-weight);
}

.feature-blockchain p {
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
    font-family: "Inter", sans-serif;
    line-height: 140%;
    text-align: center;
    width: 644px;
}

.content-blockchain {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.content-blockchain-img {
    width: 506px;
}

.content-blockchain-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
}

.container-blockchain{
    display: flex;
    gap: 40px;
    align-items: center;
    width: 644px;
    background-color: rgba(15, 15, 15, 1);
    border-radius: 20px;
    /* border-width: 1px;
    border-style: solid;  */
    border: 1px solid transparent;
    background: 
    linear-gradient(rgba(15, 15, 15, 1), rgba(15, 15, 15, 1)) padding-box,
    linear-gradient(90deg, #4D4D4D 0%, #B3B3B3 100%) border-box;
    padding: 30px 20px;
}

.container-blockchain-box-img {
    width: 30px;
}

.container-blockchain-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-blockchain-content h2 {
    font-size: var(--font-website-subtitle-size);
    font-weight: var(--font-website-subtitle-weight);
    font-family: "Inter", sans-serif;
}

.container-blockchain-content p {
    font-size: var(--font-website-text1-size);
    font-weight: var(--font-website-text1-weight);
    width: 530px;
}
