@import url(./global.css);

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    background-color: rgb(0, 0, 0, 1);
}

.logo-header img {
    width: 107px;
    height: 32px;
}

.nav-header ul {
    display: flex;
    gap: 40px;
    list-style: none;
}


.nav-header ul li a {
    text-decoration: none;
    color: var(--color-gray1);
}

.nav-header .active {
    color: var(--color-white);
}

.container-btn-header {
    display: flex;
    gap: 16px;
}

.container-btn-header .btn-tryforfree {
    padding: 10px 20px;
    /* superior/inferior & esquerda/direita */
    border-radius: 20px;
    /* arredondamento */
    cursor: pointer;
    /* cursor do mouse */
    background-color: var(--color-green);
    color: var(--color-gray4);
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
}

.container-btn-header .btn-login {
    padding: 10px 20px;
    /* superior/inferior & esquerda/direita */
    border-radius: 20px;
    /* arredondamento */
    cursor: pointer;
    /* cursor do mouse */
    background-color: rgb(0, 0, 0, 1);
    color: var(--color-white);
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
}

main {
    background-color: rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    padding: 60px 0px;
    gap: 100px;
}

.content-hero-globo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 681px;
}

.content-hero-globo h1 {
    font-size: var(--font-website-title1-size);
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--color-white);
    margin-bottom: 20px;
}

.content-hero-globo p {
    font-size: var(--font-website-subtitle-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
    line-height: 140%;
    letter-spacing: 2px;
}


.content-hero-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.get-started {
    width: 151px;
    padding: 14px 24px;
    /* superior/inferior & esquerda/direita */
    border-radius: 40px;
    /* arredondamento */
    color: var(--color-gray4);
    background-color: var(--color-green);
}

.watch {
    align-items: center;
    display: flex;
    gap: 1px;
    border: 1px solid var(--color-gray1);
    border-radius: 40px;
    /* arredondamento */
    padding: 15px 24px;
    /* superior/inferior & esquerda/direita */
    color: var(--color-white);
    width: 190px;
    height: 52px;
    font-size: var(--font-website-button-size);
}

.partners {
    background-color: var(--color-gray4);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 40px 0px;
}

.paragrafo-principal {
    font-size: 16px;
    justify-content: space-around;
    display: flex;
}

.logoipsum {
    gap: 50px;
    display: flex;

}

.breakdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    background-color: rgba(0, 0, 0, 1);
}

.breakdown-future {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 572px;
    text-align: center;
    margin-top: 60px;
}


.breakdown-future h2 {
    color: var(--color-white);
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title1-weight);
}

.breakdown-future p {
    color: var(--color-gray1);
    font-size: var(--font-website-p-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
    line-height: 140%;
}

.box-information {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}

.box-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-gray3);
    border-radius: 12px;
    width: 410.67px;
    gap: 16px;
    margin-bottom: 60px;
}

.box-breakdown img {
    margin: 48px 181.33px 36px 181.33px;
    gap: 36px;
}

.box-breakdown h2 {
    max-width: 338.67px;
    font-size: var(--font-website-subtitle-size);
    font-weight: var(--font-website-subtitle-weight);
    font-family: var(--font-website-p-font-family);
}

.box-breakdown p {
    font-size: var(--font-website-text1-size);
    font-weight: var(--font-website-text1-weight);
    margin-bottom: 48px;
    text-align: center;
    color: var(--color-gray1);
    width: 338.67px;

}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-gray4);
}

.statistics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 644px;
    text-align: center;
    width: 704px;
    margin-top: 60px;
}

.statistics-content h2 {
    color: var(--color-white);
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title1-weight);
}

.statistics-content p {
    color: var(--color-gray1);
    font-size: var(--font-website-p-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
    line-height: 140%;
    text-align: center;
    width: 644px;
}

.numbers-content {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 72px;
}

.numbers-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-bottom: 60px;
}

.numbers-container h2 {
    color: var(--color-green);
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title1-weight);
}

.numbers-container p {
    color: var(--color-gray1);
    font-size: var(--font-website-p-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
}

.blockchain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    background-color: rgb(0, 0, 0, 1);
}

.feature-blockchain {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 890px;
}

.feature-blockchain h2 {
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title2-weight);
}

.feature-blockchain p {
    font-size: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
    font-family: "Inter", sans-serif;
    line-height: 140%;
    text-align: center;
    width: 644px;
}

.content-blockchain {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.content-blockchain-img {
    width: 506px;
}

.content-blockchain-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 60px;
}

.container-blockchain {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 644px;
    background-color: rgba(15, 15, 15, 1);
    border-radius: 20px;
    /* border-width: 1px;
    border-style: solid;  */
    border: 1px solid transparent;
    background:
        linear-gradient(rgba(15, 15, 15, 1), rgba(15, 15, 15, 1)) padding-box,
        linear-gradient(90deg, #4D4D4D 0%, #B3B3B3 100%) border-box;
    padding: 30px 20px;
}

.container-blockchain-box-img {
    width: 30px;
}

.container-blockchain-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-blockchain-content h2 {
    font-size: var(--font-website-subtitle-size);
    font-weight: var(--font-website-subtitle-weight);
    font-family: "Inter", sans-serif;
}

.container-blockchain-content p {
    font-size: var(--font-website-text1-size);
    font-weight: var(--font-website-text1-weight);
    width: 530px;
}


.faq {
    background-color: var(--color-gray4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 62.5px;
}

.faq-content h2 {
    color: var(--color-white);
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title1-weight);
}

.faq-content p {
    color: var(--color-gray1);
    font-size: var(--font-website-p-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
    width: 644px;
    text-align: center;
}

.questions {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    gap: 30px;
    width: 792px;
    right: 462px;
    margin-bottom: 32.5px;
}

.questions-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 792px;
    border: 1px solid var(--color-gray3);
}

.questions-container p {
    padding: 16px 20px;
    width: 732px;
    font-size: var(--font-website-text1-size);
    font-weight: var(--font-website-text1-weight);
    color: var(--color-white);
}

.questions-container img {
    padding: 16px 20px;
}

.revolutionary {
    background-color: rgb(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.revolutionary-content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.revolutionary-content h2 {
    margin-top: 20px;
    color: var(--color-white);
    font-size: var(--font-website-title2-size);
    font-weight: var(--font-website-title1-weight);
}

.revolutionary-content p {
    color: var(--color-gray1);
    font-size: var(--font-website-p-size);
    font-weight: var(--font-font-website-p-weight);
    font-family: var(--font-website-p-font-family);
    margin-top: 20px;
}
 
.button .btn-get{
    padding: 15px 30px;
    background-color: var(--color-green);
    margin-top: 20px;
    font-family: var(--font-website-button-size);
    font-weight: var(--font-website-button-weight);
    font-size: var(--font-website-button-size);
    margin-bottom: 60px;
}

.footer-content {
    background-color: rgb(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 92px;
    padding: 64px 0px;
}

.footer-neofi{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-navigation {
    display: flex;
    gap: 92px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h4 {
    font-family: var(--font-website-subtitle-size);
    color: var(--color-white);
    opacity: 100%;
}

.footer-container a {
    font-size: var(--font-website-text2-size);
    color: var(--color-gray1);
    text-decoration: none;
}

.footer-container a:hover {
    color: var(--color-green);
    transition: 0.3s;
}

.newslatter-btn{
    display: flex;
    align-items: center; 
}

.newsletter input {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 250px;
    background-color: transparent;
    font-size: var(--font-website-text2-size);
    border-bottom: 1px solid var(--color-gray3);
    gap: 10px;
}

.newsletter img {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-subscribe{
    background-color: transparent;
}


